<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/header") %>
    <%- include("partials/css") %>
</head>

<body>
    <%- include("partials/navbar")%>
    <div class="container">
        <div class="row">
            <div class="col jumbotron bg-dark text-white" style="text-align: center;">
                <h1>Following</h1>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center">
                <% followingData.forEach((element) => { %>
                <h3>
                    <a href='/user/<%=element.id%>'>
                        <%= element.getFullname() %>
                    </a>
                </h3>
                <br>
                <% }) %>
            </div>
        </div>

    </div>
</body>

</html>